/* Reset default margin and padding */
body, h1, h2, h3, h4, h5, h6, p, ul, li {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

* {
    box-sizing: border-box;
}

div {
    display: block;
}

/* Style the header */
.navBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    position: relative;
/*    background-color: #333;*/
    padding: 5px 20px;
    border-bottom: 1px solid rgb(202, 202, 202);
    gap: 20px;
/*    z-index: 100;*/
}

/* Ensure content spans full width */

.logoDiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.headerLogo {
    max-width: 400px;
    height: auto;
}

/* Style the navigation menu 
nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: flex-end;
}*/

nav ul {
    list-style: none;
}

nav ul li {
    display: inline-block;
    margin-left: 20px;
    padding: 10px 20px;
    background: linear-gradient(120deg, pink, yellow);
    border-radius: 10px;
    border-right: 2px solid #433BFF;
    border-bottom: 2px solid #433BFF;
}

.menu ul li a{
    color: #000000;
    text-decoration: none;
}

.menu ul li a:hover{
    -webkit-text-stroke: medium;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 50px;
    margin: 0px 0;
    width: 100%;
}

.heroContainer {
    position: relative;
    width: 100%;
}

#mainImageDiv {
    width: 100%;
    height: auto;
}

#mainImage {
    width: 100%;
}

#heroText {
    position: absolute;
    top: 30%;
    left: 40%;
    transform: translate(-100%, -50%);
    color: white;
    text-decoration: underline;
}

/* Media query for responsive design */
@media (max-width: 1000px) {
    .navBar {
        flex-direction: column;
        padding: 5px 0;
    }

    nav ul li {
        display: block;
        margin: 0;
        margin-bottom: 10px;
        text-align: center;
    }
}