/* Reset default margin and padding */
body, h1, h2, h3, h4, h5, h6, p, ul, li {
    margin: 0;
    padding: 0;
}

#headfavicon {
    border-radius: 100%;
}

/* Style the header */
header {
    background-color: #333;
    color: black;
    padding: 20px 0;
    
}

/* Ensure content spans full width */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
    border-width: 10px;
    background-color: #fff;
}

/* Style the logo */
header h1 {
    font-size: 0%;
    display: inline;
}

#headerlogo {
    border-radius: 100%;
    max-width: 40px;
}

/* Style the navigation menu */
nav {
    float: right;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline-block;
    margin-left: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

/* Media query for responsive design */
@media (max-width: 768px) {
    header {
        padding: 10px 0;
    }

    header h1 {
        float: none;
        text-align: center;
        margin-bottom: 10px;
    }

    nav {
        float: none;
        text-align: center;
    }

    nav ul li {
        display: block;
        margin: 0;
        margin-bottom: 10px;
    }
}