/* Reset default margin and padding */
    /*  body, h1, h2, h3, h4, h5, h6, p, ul, li {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

* {
    box-sizing: border-box;
}

div {
    display: block;
}

/* Style the header */
    /*  .navBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    position: relative;
/*    background-color: #333;*/
    /*    padding: 5px 20px;
    border-bottom: 1px solid rgb(202, 202, 202);
    gap: 20px;
/*    z-index: 100; 
} */

/* Ensure content spans full width */

    /*.logoDiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

    /*.headerLogo {
    max-width: 400px;
    height: auto;
}

/* Style the navigation menu 
nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: flex-end;
}*/

    /*nav ul {
    list-style: none;
}

nav ul li {
    display: inline-block;
    margin-left: 20px;
    padding: 10px 20px;
    background: linear-gradient(120deg, pink, yellow);
    border-radius: 10px;
    border-right: 2px solid #433BFF;
    border-bottom: 2px solid #433BFF;
}

.menu ul li a{
    color: #000000;
    text-decoration: none;
}

.menu ul li a:hover{
    -webkit-text-stroke: medium;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 50px;
    margin: 0px 0;
    width: 100%;
}

.heroContainer {
    position: relative;
    width: 100%;
}

#mainImageDiv {
    width: 100%;
    height: auto;
}

#mainImage {
    width: 100%;
}

#heroText {
    position: absolute;
    top: 30%;
    left: 40%;
    transform: translate(-100%, -50%);
    color: white;
    text-decoration: underline;
}

/* Media query for responsive design */
    /*@media (max-width: 1000px) {
    .navBar {
        flex-direction: column;
        padding: 5px 0;
    }

    nav ul li {
        display: block;
        margin: 0;
        margin-bottom: 10px;
        text-align: center;
    }
}*/

@keyframes background-pan {
    from {
        background-position: 0% center;
    }
    to {
        background-position: 200% center;
    }
}

/*Global*/
html {
    font-size: medium;
}

body {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

body, h1, h2, h3, h4, h5, h6, p{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

p {
    text-align: left;
}

/*Not global*/
.navBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: auto;
    padding: 2% 5%;
    align-items: center;
    position: static;
    white-space: nowrap;
    border-bottom: 1px solid lightgray;
}

.logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5%;
}

.logoIcon {
    width: 400px;
}

/*
.orgNameYouth {
    color: pink;
}

.orgNameInnovators {
    color: rgb(58, 160, 255);
}
*/

.logo:hover>.logoIcon {
    cursor: pointer;
}

.mainHambMenu {
    display: none;
}

.HambMenu span:first-child {
    top: 0;
}

.HambMenu span:last-child {
    bottom: 0;
}

.HambMenu span{
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: black;
    transition: transform 0.3s ease;
}

.mainNavMenu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: flex-end;
    gap: 2%;
    color: black;
    text-transform: uppercase;
}

.MenuItem {
    padding: 6px 15px;
    border-radius: 5px;
}

.MenuItem:hover {
    background: linear-gradient(120deg, pink, rgb(255, 255, 102));
    transform: translate(0, -3px);
    box-shadow: 0 10px 50px -5px palevioletred;
    color: black;
    transition: ease 0.2s;
    cursor: pointer;
}

.mainNavMenu:has(.light:hover) .MenuItem:not(.light:hover) {
    opacity: 60%;
}

.MenuItem:active {
    transform: translateY(1px) scale(0.9);
    transition: ease .05s;
}

.hero {
    display: flex;
    position: relative;
}

.heroImage {
    width: 100%;
    opacity: 90%;
}

.heroTextDiv {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    place-items: center;
    background: #433BFF;
    border-radius: 20px;
}

.heroText {
    color: white;
    margin: 0;
    padding: 10px;
    text-align: center;
    font-weight: bolder;
}

.heroText > .magic {
    animation: background-pan 3s linear infinite;
    background: linear-gradient(90deg, rgb(38, 157, 255), pink, rgb(255, 255, 102), rgb(38, 157, 255));
    background-size: 200%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    white-space: nowrap;
}

@media screen and (max-width: 1000px) {
    
.logoIcon {
    width: 350px;
}

.mainNavMenu {
    font-size: smaller;
}

}

@media screen and (max-width: 850px) {
    .heroText {
        font-size: x-large;
    }
}

@media screen and (max-width: 800px) {

    .logoIcon {
        width: 300px;
    }

    .navBar {
        padding: 1% 3%;
    }

    .mainHambMenu {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px 5px;
        height: 100%;
    }

    .HambMenu {
        display: inline-block;
        cursor: pointer;
        background-color: transparent;
        border: none;
        padding: 0;
        margin: 0;
        position: relative;
        width: 25px;
        height: 10px;
    }

    .mainNavMenu {
        display: none;
    }
}

@media screen and (max-width: 850px) {
    .heroText {
        font-size: x-large;
    }
}

@media screen and (max-width: 640px) {
    .heroTextDiv {
        top: 100%;
        width: 100vw;
        border-radius: 10px;
    }
    
    .heroText {
        font-size: x-large;
    }
}

@media screen and (max-width: 400px) {
    /*change yung logo*/
    
    .heroText {
        font-size: ;
    }
}